APP_DIR=/opt/warp/app
VENV_DIR=/opt/warp/venv
APP_REPO_URL=https://github.com/PkamiRIC/WARP-Devices.git
APP_REF=
APP_ENV=prod
APP_REQ_PATH=devices/device3/requirements.txt
APP_DEV_REQ_PATH=
PING_HOST=8.8.8.8
PY_IMPORT_MODULE=src.main
UI_ENABLE_DEVICE1=true
UI_ENABLE_DEVICE2=true
UI_ENABLE_DEVICE3=true
PLC_CHECK=skip
INDUSTRIALSHIELDS_REPO_URL=https://apps.industrialshields.com/main/DebRepo/
LIBRPIPLC_VERSION=4.2.0
PYTHON3_LIBRPIPLC_VERSION=4.1.0
