APP_DIR=/opt/warp/app
VENV_DIR=/opt/warp/venv
DEVICE_CONFIG=/etc/warp/device3.yaml
APP_REPO_URL=https://github.com/PkamiRIC/WARP-Devices.git
APP_REF=
APP_ENV=prod
APP_REQ_PATH=devices/device3/requirements.txt
APP_DEV_REQ_PATH=
SERVICE_NAME=warp-device3.service
PING_HOST=8.8.8.8
PY_IMPORT_MODULE=src.main
