APP_DIR=/opt/warp/app
VENV_DIR=/opt/warp/venv
DEVICE_CONFIG=/etc/warp/device3.yaml
APP_REPO_URL=https://github.com/PkamiRIC/WARP-Devices.git
APP_REF=
APP_ENV=prod
APP_REQ_PATH=devices/device3/requirements.txt
APP_DEV_REQ_PATH=
SERVICE_NAME=warp-device3.service
PING_HOST=8.8.8.8
PY_IMPORT_MODULE=src.main
UI_API_BASE=http://localhost:8003
UI_WARP_CONSOLE_PORT=3000
UI_DASHBOARD_PORT=5173
UI_ENABLE_WARP_CONSOLE=true
UI_ENABLE_DASHBOARD=true
PLC_CHECK=skip
INDUSTRIALSHIELDS_REPO_URL=https://apps.industrialshields.com/main/DebRepo/
LIBRPIPLC_VERSION=4.1.1
PYTHON3_LIBRPIPLC_VERSION=4.0.2
